<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="ModelWriter Juno Target Platform" sequenceNumber="1445507273">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.junit" version="4.10.0.v4_10_0_v20120426-0900"/>
      <repository location="http://download.eclipse.org/releases/juno"/>
    </location>
  </locations>
</target>
