<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde?>
<!-- generated with https://github.com/mbarbero/fr.obeo.releng.targetplatform -->
<target name="ModelWriter Juno Target Platform" sequenceNumber="1484644971">
  <locations>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.apache.jena.feature.feature.group" version="0.0.0"/>
      <repository id="Apache-Jena" location="http://ghillairet.github.com/p2"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="com.google.guava" version="15.0.0.v201403281430"/>
      <repository id="Orbit" location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
    </location>
    <location includeMode="planner" includeAllPlatforms="false" includeSource="true" includeConfigurePhase="false" type="InstallableUnit">
      <unit id="org.eclipse.platform.sdk" version="0.0.0"/>
      <unit id="org.eclipse.core.runtime" version="0.0.0"/>
      <unit id="org.eclipse.emf.sdk.feature.group" version="0.0.0"/>
      <unit id="org.junit" version="4.10.0.v4_10_0_v20120426-0900"/>
      <unit id="org.slf4j.api" version="0.0.0"/>
      <unit id="org.apache.xerces" version="0.0.0"/>
      <unit id="org.eclipse.emf.compare" version="0.0.0"/>
      <repository location="http://download.eclipse.org/releases/juno"/>
    </location>
  </locations>
</target>
