<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="eu.modelwriter.ide.ui.marker.SemanticLinkResolutionGenerator"
            markerType="eu.modelwriter.semantic.ide.textSemanticAnnotation">
      </markerResolutionGenerator>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:#AbstractTextEditorRulerContext">
         <menu
               label="Mapping"
               tooltip="Locations and Links menu">
            <dynamic
                  class="eu.modelwriter.ide.ui.menu.QuickFixContributionItem"
                  id="eu.modelwriter.ide.ui.quickFixContributionItem">
            </dynamic>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="eu.modelwriter.ide.ui.extractText"
               label="Extract Text"
               style="push"
               tooltip="Extract the text from the selected .docx file">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <and>
                        <instanceof
                              value="org.eclipse.core.resources.IFile">
                        </instanceof>
                        <or>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="doc">
                           </test>
                           <test
                                 property="org.eclipse.core.resources.extension"
                                 value="docx">
                           </test>
                        </or>
                     </and>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="eu.modelwriter.ide.ui.command.ExtractTextHandler"
            commandId="eu.modelwriter.ide.ui.extractText">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Extract the text from the selected .docx file"
            id="eu.modelwriter.ide.ui.extractText"
            name="Extract Text">
      </command>
   </extension>

</plugin>
