<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="eu.modelwriter.semantic.ide.baseProvider">
   </extension>
   <extension
         point="eu.modelwriter.semantic.ide.semanticProvider">
      <provider
            class="eu.modelwriter.semantic.emf.EcoreSemanticProvider"></provider>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.emf.ecore.EObject"
            class="eu.modelwriter.semantic.emf.ide.adapter.EObjectToFileAdapterFactory">
         <adapter
               type="org.eclipse.core.resources.IFile">
         </adapter>
      </factory>
   </extension>

</plugin>
