<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated jena -->
      <package
            uri="http://www.modelwriter.eu/mapping/jena"
            class="org.eclipse.mylyn.docs.intent.mapping.jena.JenaPackage"
            genModel="model/jena.genmodel"/>
   </extension>

</plugin>
