<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.view.MappingView"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.view.MappingView"
            name="Mapping">
      </view>
      <view
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.view.LocationPoolView"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.view.LocationPoolView"
            name="Location Pool">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jface.viewers.IStructuredSelection"
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.adapter.SelectionAdapterFactory">
         <adapter
               type="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerUpdaters">
      <updater
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.marker.TextLocationMarkerUpdater"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.marker.textLocationMarkerUpdater"
            markerType="org.eclipse.mylyn.docs.intent.mapping.ide.textLocationMarker">
      </updater>
   </extension>
</plugin>
