<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.view.MappingView"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.view.MappingView"
            name="Mapping">
      </view>
      <view
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.view.LocationPoolView"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.view.LocationPoolView"
            name="Location Pool">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jface.viewers.IStructuredSelection"
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.adapter.SelectionToLocationAdapterFactory">
         <adapter
               type="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
         </adapter>
      </factory>
      <factory
            adaptableType="org.eclipse.jface.text.ITextSelection"
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.adapter.TextSelectionToTextLocationAdapterFactory">
         <adapter
               type="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.editors.markerUpdaters">
      <updater
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.marker.TextLocationMarkerUpdater"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.marker.textLocationMarkerUpdater"
            markerType="org.eclipse.mylyn.docs.intent.mapping.ide.textLocationMarker">
      </updater>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.menu"
               label="Mapping"
               tooltip="Locations and Links menu">
            <command
                  commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.linkAsSource"
                  label="Link location as source"
                  style="push"
                  tooltip="Links the current location as source with activated locations from the pool">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
                           </instanceof>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.linkAsTarget"
                  label="Link location as target"
                  style="push"
                  tooltip="Links the current location as target with activated locations from the pool">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
                           </instanceof>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.addToLocationsPool"
                  label="Add Location to Pool"
                  style="push"
                  tooltip="Adds the selected location to locations pool">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
                           </instanceof>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.removeFromLocationsPool"
                  label="Remove Location from  Pool"
                  style="push"
                  tooltip="Removes the selected location from the locations pool">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
                           </instanceof>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.deleteLink"
                  label="Delete Link"
                  style="push"
                  tooltip="Deletes the selected Link">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <instanceof
                              value="org.eclipse.mylyn.docs.intent.mapping.base.ILink">
                        </instanceof>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.command.AddToLocationsPoolHandler"
            commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.addToLocationsPool">
      </handler>
      <handler
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.command.RemoveFromLocationsPoolHandler"
            commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.removeFromLocationsPool">
      </handler>
      <handler
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.command.LinkAsSource"
            commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.linkAsSource">
      </handler>
      <handler
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.command.LinkAsTarget"
            commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.linkAsTarget">
      </handler>
      <handler
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.command.DeleteLink"
            commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.deleteLink">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Adds the selected location to locations pool"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.addToLocationsPool"
            name="Add Location to Pool">
      </command>
      <command
            description="Removes the selected location from the locations pool"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.removeFromLocationsPool"
            name="Remove Location from  Pool">
      </command>
      <command
            description="Links the current location as source with activated locations from the pool"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.linkAsSource"
            name="Link as source">
      </command>
      <command
            description="Links the current location as target with activated locations from the pool"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.linkAsTarget"
            name="Link as target">
      </command>
      <command
            description="Deletes the selected Link"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.deleteLink"
            name="Delete Link">
      </command>
   </extension>
</plugin>
