<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.mapping"
            name="Mapping">
      </category>
      <view
            category="org.eclipse.mylyn.docs.intent.mapping.ide.ui.mapping"
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.view.MappingView"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.view.MappingView"
            name="Mapping">
      </view>
      <view
            category="org.eclipse.mylyn.docs.intent.mapping.ide.ui.mapping"
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.view.LocationPoolView"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.view.LocationPoolView"
            name="Location Pool">
      </view>
   </extension>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="java.lang.Object"
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.adapter.ObjectToLocationAdapterFactory">
         <adapter
               type="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
         </adapter>
         <adapter
               type="org.eclipse.mylyn.docs.intent.mapping.base.ILocationDescriptor">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.menu"
               label="Mapping"
               tooltip="Locations and Links menu">
            <command
                  commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.linkAsSource"
                  label="Link location as source"
                  style="push"
                  tooltip="Links the current location as source with activated locations from the pool">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.mylyn.docs.intent.mapping.base.ILocationDescriptor">
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.ILocationDescriptor">
                           </instanceof>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.linkAsTarget"
                  label="Link location as target"
                  style="push"
                  tooltip="Links the current location as target with activated locations from the pool">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.mylyn.docs.intent.mapping.base.ILocationDescriptor">
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.ILocationDescriptor">
                           </instanceof>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.addToLocationsPool"
                  label="Add Location to Pool"
                  style="push"
                  tooltip="Adds the selected location to locations pool">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.mylyn.docs.intent.mapping.base.ILocationDescriptor">
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.ILocationDescriptor">
                           </instanceof>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.removeFromLocationsPool"
                  label="Remove Location from  Pool"
                  style="push"
                  tooltip="Removes the selected location from the locations pool">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <adapt
                              type="org.eclipse.mylyn.docs.intent.mapping.base.ILocationDescriptor">
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.ILocationDescriptor">
                           </instanceof>
                        </adapt>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.delete"
                  label="Delete"
                  style="push"
                  tooltip="Deletes the selection">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <or>
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.ILink">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.IReport">
                           </instanceof>
                        </or>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.describe"
                  label="Describe"
                  style="push"
                  tooltip="Describe the selected Link or Report">
               <visibleWhen
                     checkEnabled="false">
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <or>
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.ILink">
                           </instanceof>
                           <instanceof
                                 value="org.eclipse.mylyn.docs.intent.mapping.base.IReport">
                           </instanceof>
                        </or>
                     </iterate>
                     <count
                           value="1">
                     </count>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.command.AddToLocationsPoolHandler"
            commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.addToLocationsPool">
      </handler>
      <handler
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.command.RemoveFromLocationsPoolHandler"
            commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.removeFromLocationsPool">
      </handler>
      <handler
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.command.LinkAsSource"
            commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.linkAsSource">
      </handler>
      <handler
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.command.LinkAsTarget"
            commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.linkAsTarget">
      </handler>
      <handler
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.command.Delete"
            commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.delete">
      </handler>
      <handler
            class="org.eclipse.mylyn.docs.intent.mapping.ide.ui.command.Describe"
            commandId="org.eclipse.mylyn.docs.intent.mapping.ide.ui.describe">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            description="Adds the selected location to locations pool"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.addToLocationsPool"
            name="Add Location to Pool">
      </command>
      <command
            description="Removes the selected location from the locations pool"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.removeFromLocationsPool"
            name="Remove Location from  Pool">
      </command>
      <command
            description="Links the current location as source with activated locations from the pool"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.linkAsSource"
            name="Link as source">
      </command>
      <command
            description="Links the current location as target with activated locations from the pool"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.linkAsTarget"
            name="Link as target">
      </command>
      <command
            description="Deletes the selection"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.delete"
            name="Delete">
      </command>
      <command
            description="Describe the selected Link or Report"
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.describe"
            name="Describe">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="org.eclipse.mylyn.docs.intent.mapping.ide.ui.mapping"
            name="Mapping">
      </category>
   </extension>
</plugin>
