<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.core.runtime.adapters">
      <factory
            adaptableType="org.eclipse.jface.viewers.IStructuredSelection"
            class="org.eclipse.mylyn.docs.intent.mapping.emf.ide.ui.adapter.SelectionToEObjectLocationAdapterFactory">
         <adapter
               type="org.eclipse.mylyn.docs.intent.mapping.base.ILocation">
         </adapter>
      </factory>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.eclipse.mylyn.docs.intent.mapping.ide.ui.mapping"
            class="org.eclipse.mylyn.docs.intent.mapping.emf.ide.ui.wizard.NewEMFBase"
            id="org.eclipse.mylyn.docs.intent.mapping.emf.ide.ui.newEMFBase"
            name="EMF Base">
      </wizard>
   </extension>

</plugin>
