<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="eu.modelwriter.semantic.ide.ui.view.SemanticView"
            id="eu.modelwriter.semantic.ide.ui.view.SemanticView"
            name="Semantic View">
      </view>
   </extension>
</plugin>
